*, *:before, *:after {
  box-sizing: border-box;
  outline: 0;
}

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'HelveticaNeueCyr', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

section {
  display: none;
}

/* General */

.container-column {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/bg.jpg) no-repeat center top / cover;
}

.main-wrapper {
  width: 90vw;
  justify-content: flex-end;
}

/* Menu-style */

.menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 22vw;
}

.menu-wrapper a {
  color: #000;
}

.menu-wrapper ul {
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
}

button {
  border: none;
  background: #F4FFE1;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

input::placeholder {
  font-weight: 800;
  color: black;
}

#menu-item-1 {
  background: #614D72;
  color: #fff;
}

.menu-item, .options-item, .menu-counter {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0 8px;
}

.menu li {
  margin: 6px 0;
}

.menu-names a:hover {
  background: #614D72;
  color: #fff;
}

.options {
  margin-top: 5%;
}

.options a {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #614D72;
}


.menu-counter {
  margin-left: 24%;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Menu-style-end */

/* ---------- */

/* Content-style */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 100px;
}

.search {
  white-space: nowrap;
}

.logo img {
  width: 22vw;
}

.soc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8vw;
}

.soc a {
  font-size: 1em;
  color: #614D72;
}

.content-wrapper {
  width: 80%;
}

/* SLIDER */

.slider-wrapper {
  width: 50%;
}

.slider-for__item img {
  width: 100%;
  height: 100%;
}

.slider-nav__item img {
  height: 100%;
  width: 100%;
}

  
/* SLIDEER END */

/* INFO-BLOCK */

.info-wrapper {
  margin-top: 2%;
}

.title, .price {
  margin: 0;
}

.product-text {
  margin-top: 3%;
}

.info-wrapper {
  width: 50%;
  margin-left: 4%;
}

.product-links {
  margin-top: 4%;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
}

.product-links a {
  color: #000;
  text-decoration: underline;
  transition: .5 all;
}

.product-links a:hover {
  color: #c0c0c0;
  transition: .5 all;
}


/* INFO-BLOCK-END */

/* Content-style-end */

/* hamb-Menu */

.top-bar {
  align-items: center;
  justify-content: space-between;
}

.hamb-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(244, 255, 225);
  background-color: rgba(244, 255, 225, 0.9);;
  overflow: hidden;
  transition: 0.5s;
}

.hamb-menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 30px 0 0 50px;
}

.hamb-menu a {
  padding: 1px;
  text-decoration: none;
  font-size: 21px;
  color: #000;
  white-space: nowrap;
  transition: 1s;
}

.hamb-menu a:hover, .hamb-menu a:focus {
  color: #c0c0c0;
}

.hamb-menu .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 46px;
  color: #000;
}

.hamb {
  display: none;
  font-size: 26px;
  z-index: 1;
  animation: fadein 2s;
  color: #000;
}

.hamb:hover {
  color: #c0c0c0;
  cursor: pointer;
  transition: 1s all;
}

.hamb-menu-content li {
  padding: 4px;
}

/* Menu end */
/* STYLES SPECIFIC TO FOOTER  */

.footer {
  width: 100%;
  position: relative;
  height: auto;
  padding: 4% 0 4% 0;
}

.contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  margin: 4% 0 0 0;
  padding: 0;
}
.footer .col ul li {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.footer .col a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer .col a:hover {
  color: #c0c0c0;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

@media all and (max-width: 1010px) {

.title, .price {
  font-size: 18px;
}
.product-text article{
  font-size: 14px;
}
.product-links a {
  font-size: 14px;
}
.soc {
  width: 12vw;
}

}

@media all and (max-width: 950px) {

.title, .price {
  font-size: 28px;
}
.product-text article{
  font-size: 16px;
}
.product-links a {
  font-size: 16px;
}
.search {
  display: none;
} 
.menu-wrapper {
  display: none;
}
.content-wrapper {
  width: 100%;
}
.product-info-wrapper {
  flex-direction: row;  
  margin-top: 4%;
}
.slider-wrapper {
  width: 50%;
}
.info-wrapper {
  margin-left: 2%;
  width: 100%;
}
.product-title {
  font-size: 20px;
}
.product-text {
  margin-top: 4%;
  width: 100%;
}
.product-links a {
  margin-top: 8px;
}

/* hamb-Menu */

.hamb-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}
.hamb-menu-content {
  position: relative;
  top: 10%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}
.hamb-menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1s;
}
.hamb-menu .closebtn {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 40px;
}
.hamb { 
  display: flex;
  font-size: 26px;
  animation: fadein 2s;
  z-index: 1;
}
.hamb-menu-content li {
  padding: 4px;
}

}

@media all and (max-width: 800px) {

.title, .price {
  font-size: 22px;
}
.product-text article {
  font-size: 14px;
}
.product-links a {
  font-size: 14px;
}
.soc {
  width: 16vw;
}

}

@media all and (max-width: 700px) {

.title, .price {
  font-size: 28px;
}
.product-text article{
  font-size: 16px;
}
.product-links a {
  font-size: 16px;
}
.search {
  display: none;
} 
.menu-wrapper {
  display: none;
}
.content-wrapper {
  width: 100%;
}
.product-info-wrapper {
  flex-direction: column;  
  margin-top: 0;
}
.slider-wrapper {
  width: 100%;
}
.info-wrapper {
  margin-left: 0;
  width: 100%;
}
.product-title {
  font-size: 20px;
}
.product-text {
  margin-top: 4%;
  width: 100%;
}
.product-links a {
  margin-top: 8px;
}
.soc {
  width: 18vw;
}

}

@media all and (max-width: 600px) {

.logo img {
  width: 30vw;
}
.soc {
  width: 20vw;
}

}

@media all and (max-width: 500px) {

.logo img {
  width: 34vw;
}
.soc {
  width: 24vw;
}
.title, .price {
  font-size: 24px;
}
.product-text article{
  font-size: 16px;
}
.product-links a {
  font-size: 16px;
}

}

@media all and (max-width: 400px) {

.hamb {
  margin-bottom: 2%;  
  font-size: 20px;
}
.hamb-menu-content {
  flex-direction: column;
}
.logo img {
  width: 38vw;
}
.soc {
  width: 28vw;
}
.soc a {
  font-size: 0.95em;
}

}

@media all and (max-width: 300px) {

.hamb {
  font-size: 14px;
}
.soc {
  width: 32vw;
}
.soc a {
  font-size: 0.9em;
}

}

@media only screen and (max-width: 950px) {

.footer .col {
  width: 33%;
}
.footer .col h1 {
  font-size: 14px;
}
.footer .col ul li {
  font-size: 13px;
}

}

@media only screen and (min-width: 400px) and (max-width: 500px) {

.footer .col {
  width: 50%;
}

}

@media all and (max-width: 1280px) {

.menu-item, .options-item, .menu-counter {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0 8px;
}

}

@media only screen and (max-width: 400px) {
.footer .col {
  width: 50%;
}
.footer .col h1 {
  font-size: 14px;
}
.footer .col ul li {
  font-size: 13px;
}
}

@media only screen and (max-width: 340px) {
.footer .col {
  width: 100%;
}
.hamb {
  font-size: 20px;
}
}

@media all and (max-width: 440px) {
  .hamb-menu a {
    font-size: 12px;
    padding: 0;
  }
  .hamb-menu-content li {
    padding: 0;
  }
}

@media all and (max-width: 240px) {
  .main-wrapper {
  display: none;
  }
  .footer {
    display: none;
  }
  section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  }
  .alert-h2 {
  color: #000;  
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  }
}

@media all and (max-width: 767px) {

.main {
  min-height: 450px;
}

body {
  overflow-y: auto;
}

}
